<html>
    <head>
        <title><%= @title %></title>
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'></script>
        <script type='text/javascript' src='/application.js'></script>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' type='text/css' href='/style.css' />
        <link href='/rss' type='application/rss+xml' rel='alternate' />
    </head>
    <body>
        <div id='wrapper'>
            <div id='header'>
                <h1><a href='/'><%= @title %></a></h1>
            </div>
            <div id='content'>
                <div class='posts'>
                    <%= yield %>
                </div>
                <div class='loading'></div>
            </div>
            <div id='footer'>
                Powered by <a href='https://github.com/blat/timeline'>Timeline</a>.
            </div>
        </div>
    </body>
</html>
