body {
    font-family: 'Droid Sans', sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 26px;
}

h1, h2 {
    font-family: 'Droid Serif', serif;
    font-weight: bold;
    color: #23262D;
}

h1 {
    margin-bottom: 0px;
    font-size: 42px;
}

h2 {
    font-size: 28px;
    line-height: 35px;
}

h3, h4, strong {
    font-family: 'Droid Serif', serif;
}

a {
    color: #23262D;
    padding: 1px 2px;
    text-decoration: none;
}

a img {
    vertical-align: middle !important;
}

blockquote {
    border-left: 2px solid #23262D;
    padding-left: 25px;
    font-style: italic;
}

#wrapper {
    width: 640px;
    margin: auto;
}

#header {
    padding-bottom: 50px;
    border-bottom: 1px dashed #E2E2E3;
    margin-top: 20px;
}

.post {
    padding-bottom: 20px;
    border-bottom: 1px dashed #E2E2E3;
    padding-top: 10px;
}

.metadata {
    padding-top: 20px;
    font-size: 12px;
    line-height: 150%;
    color: #aaa;
    position: relative;
    float: left;
    margin-left: -250px;
    padding-right: 25px;
    width: 200px;
    text-align: right;
    clear: both;
    text-transform: uppercase;
}

.date {
    padding-right: 10px;
    height: 35px;
    display: inline-block;
    position: relative;
    width: 75px;
}

.date .day {
    font-size: 35px;
    line-height: 35px;
    font-weight: bold;
    float: left;
}

.date .month,
.date .year {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    text-align: center;
    background: #aaa;
    color: #fff;
    padding-bottom: 1px;
}

.date .month {
    bottom: auto;
    top: 0;
    padding-bottom: 0;
    padding-top: 2px;
    font-size: 14px;
    font-weight: bold;
}

.icon {
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 5px;
}

.content {
    text-align: justify;
}

.content a {
    background: #DDEEBB;
}

.photo img {
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #23262D;
}

.photo a {
    display: block;
    background: none !important;
}

.photo .legend {
    text-align: center;
    font-weight: bold;
    font-family: 'Droid Serif', serif;
}

#footer {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    display: none;
}

#footer, #footer a {
    color: #666;
}

.loading {
    background: url(/img/loader.gif) no-repeat top center;
    height: 19px;
    margin-top: 20px;
    display: none;
}
